.play-again {
    width: 300px;
    height: 200px;
    background-color: #000;
    border-radius: 8px;
    align-items: center;
    border: #fff 1px solid;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.95;
    z-index: 1;
}

.play-again .again-btn {
    opacity: 1;
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    background: linear-gradient(90deg, #03a9f4, #f51919, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 30px;
    z-index: 2;
}

.play-again .again-btn:hover {
    animation: animate 8s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}

.play-again .again-btn::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -2;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 40px;
    opacity: 0;
    transition: 0.5s;
}

.play-again .again-btn:hover::before  {
    filter: blur(20px);
    opacity: 1;
}

.play-again .text-lb {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    animation: animate 8s linear infinite;
}